.header {
  background-color: #15274d;
  height: 50px;
  display: flex;

  h2 {
    margin-top: 10px;
  }

  a {
    color: #fff;
    margin: 10px 0 10px 10px;
  }

  .margin-auto {
    margin: auto;
  }

  .bg-15274 {
    background-color: #15274d;
  }
}
