<section class="section">
  <div class="columns">
    <div class="column">
      <%= link_to new_user_registration_path do %>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/200x200.png" alt="Placeholder image" height="200" width="300">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">ユーザ追加画面</p>
              </div>
            </div>
            <div class="content">
              <p>新規ユーザーをチームに登録することができます。</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="column">
      <%= link_to user_session_path do %>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/200x200.png" alt="Placeholder image" height="200" width="300">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">ユーザ情報画面</p>
              </div>
            </div>
            <div class="content">
              <p>チーム内の個別ユーザーの情報を参照・編集することができます。</p>
            </div>
          </div>
      <% end %>
      </div>
    </div>
    <div class="column">
      <%= link_to admin_register_path do %>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/200x200.png" alt="Placeholder image" height="200" width="300">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">勤怠の承認画面</p>
              </div>
            </div>
            <div class="content">
              <p>チーム内のユーザーの承認依頼を一覧表示で見ることができます。</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="column">
      <%= link_to admin_login_path do %>

        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/200x200.png" alt="Placeholder image" height="200" width="300">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">ユーザ個別の設定画面</p>
              </div>
            </div>
            <div class="content">
              チーム内ユーザーの勤務時間の個別の設定をすることができます
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</section>
